
.input {
    -moz-appearance: none;
    -webkit-appearance: none;
    align-items: center;
    border: 1px solid #cacccd;
    border-radius: 0px; 
    box-shadow: none;
    display: inline-flex;
    justify-content: flex-start;
    padding-bottom: calc(0.375em - 1px);
    padding-left: calc(0.625em - 1px);
    padding-right: calc(0.625em - 1px);
    padding-top: calc(0.375em - 1px);
    position: relative;
    background-color: white;
    max-width: 100%;
    width: 100%;
    font-weight: 200;
    font-size: 18px;
    line-height: 24px;
    color: #757575;
    margin: 0;
    height: 50px;
    vertical-align: middle;
}

.navbar {
  background-color: transparent;
}

.modal-background {
  background-color: $primary;
  opacity: 0.8 ;
}

.min-width {
  min-width: 350px;
}

.DateInput__display-text {
  text-align: center;
}

.DateRangePickerInput {
    width: 100%;
    min-width: 350px;
}

.locationButtons {
  height: 50px;
  border-radius: 0px;
  border: 0px
}

.DateRangePickerInput:hover {
    border-color: #b5b5b5;
}

.DateRangePickerInput:active {
    border-color: #00d1b2;
}

.logo-text {
  color: $primary;
  font-size: 2em;
}

.concert-card {
  height: 175px;
  overflow: scroll;
}

.concert-scroller {
  overflow: scroll;
}

.fixed-width-100 {
  width: 100%
}

.icon-colour-green {
  color: $primary;
  text-shadow: 1px 2px 1px rgba(0,0,0,0.3);
  &:hover {
        color: red;
    } 
}

.index-is-2 {
  z-index: 2;
}

.form-text-field {
  border: 1px solid #cacccd;
  border-radius: 0;
}

.fullscreen-overlay {
    opacity: .3;
    background-color: white;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -50;
}

.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
	    transform: translate(-50%, -50%);
}

@media (max-width: 767px) {
    .fullscreen-bg {
        background: url('../static/Major-Tom.jpg') center center / cover no-repeat;
    }

    .fullscreen-bg__video {
        display: none;
    }
}