$brand-color: tomato;

h1 {
  color: $brand-color;
  font-size: 2em;
}

.concert-card {
  height: 150px;
  overflow: scroll;
}

.concert-scroller {
  overflow: scroll;
}

.fixed-width-100 {
  width: 100%
}